<ul class="simple-social-links">
    {% if social.facebook %}
        <li class="social-item">
            <a href="{{ social.facebook }}" class="social-link social-facebook" target="_blank" title="{{ "Facebook"|trans }}">{{ "Facebook"|trans }}</a>
        </li>
    {% endif %}

    {% if social.twitter %}
        <li class="social-item">
            <a href="{{ social.twitter }}" class="social-link social-twitter" target="_blank" title="{{ "Twitter"|trans }}">{{ "Twitter"|trans }}</a>
        </li>
    {% endif %}

    {% if social.instagram %}
        <li class="social-item">
            <a href="{{ social.instagram }}" class="social-link social-instagram" target="_blank" title="{{ "Instagram"|trans }}">{{ "Instagram"|trans }}</a>
        </li>
    {% endif %}

    {% if social.google_plus %}
        <li class="social-item">
            <a href="{{ social.google_plus }}" class="social-link social-google_plus" target="_blank" title="{{ "Google +"|trans }}">{{ "Google +"|trans }}</a>
        </li>
    {% endif %}


    {% if social.pinterest %}
        <li class="social-item">
            <a href="{{ social.pinterest }}" class="social-link social-pinterest" target="_blank" title="{{ "Pinterest"|trans }}">{{ "Pinterest"|trans }}</a>
        </li>
    {% endif %}

    {% if social.linkedin %}
        <li class="social-item">
            <a href="{{ social.linkedin }}" class="social-link social-linkedin" target="_blank" title="{{ "LinkedIn"|trans }}">{{ "LinkedIn"|trans }}</a>
        </li>
    {% endif %}

    {% if social.youtube %}
        <li class="social-item">
            <a href="{{ social.youtube }}" class="social-link social-youtube" target="_blank" title="{{ "YouTube"|trans }}">{{ "YouTube"|trans }}</a>
        </li>
    {% endif %}

    {% if social.vimeo %}
        <li class="social-item">
            <a href="{{ social.vimeo }}" class="social-link social-vimeo" target="_blank" title="{{ "Vimeo"|trans }}">{{ "Vimeo"|trans }}</a>
        </li>
    {% endif %}
</ul>